<div class="links-list">
    <mat-toolbar>
        <b>Links</b>
        <span style="flex: 1 1 auto;"></span>
        <mat-icon
            class="links-list_settings"
            (click)='showSettings()'>
            settings
        </mat-icon>
    </mat-toolbar>
    <mat-selection-list [multiple]='false'>
        <ng-container *ngIf="links$ | async as links">
            <div *ngFor="let link of links.nodes; let last = last">
                <ng-container *ngIf="!link.hidden">
                    <div
                        mat-subheader
                        class="links-list_subheader">
                        {{link.parent}}
                    </div>
                    <mat-list-option
                        *ngFor="let child of link.children"
                        (click)='selectLink(child, links.newTab)'>
                        <div mat-line class="links-list_item">{{child.name}}</div>
                        <span mat-line class="links-list_item links-list_item_url">{{child.url}}</span>
                    </mat-list-option>
                    <mat-divider *ngIf="!last"></mat-divider>
                </ng-container>
            </div>
        </ng-container>
    </mat-selection-list>
</div>