<mat-toolbar>
    To:
    <span fxFlex></span>
    <button
        mat-icon-button
        type="button"
        matTooltip='Clear'
        (click)='clear()'>
        <mat-icon>clear</mat-icon>
    </button>
    <button
        mat-icon-button
        type="button"
        matTooltip='Download'>
        <mat-icon>get_app</mat-icon>
    </button>
    <button
        mat-icon-button
        type="button"
        matTooltip='Copy to Clipboard'>
        <mat-icon>content_copy</mat-icon>
    </button>
    <button
        mat-icon-button
        type="button"
        matTooltip='Expand'>
        <mat-icon>open_with</mat-icon>
    </button>
</mat-toolbar>