<div class="link-view">
    <ng-container *ngIf="selectedLink$ | async as selectedLink; else noSelectedLink">
        <mat-toolbar>
            <div class="link-view-toolbar">
                <span class="link-view-toolbar_name">{{selectedLink.name}}</span>
                <span class="link-view-toolbar_url">{{selectedLink.url}}</span>
            </div>
        </mat-toolbar>
        <section class="link-view_iframe">
            <iframe [src]="selectedLink.url | safeUrl"></iframe>
        </section>
    </ng-container>
    <ng-template #noSelectedLink>
        <div class="no-link-view">
            <div>
                <h3 class="no-link-view_title">No Link Selected</h3>
                <p>If no links exist, please add one:</p>
                <button
                    mat-raised-button
                    class="no-link-view_add">
                    <mat-icon>add</mat-icon>
                    Add Link
                </button>
            </div>
        </div>
    </ng-template>
</div>