@import 'variables';

.link-view {
    height: 100%;

    .mat-toolbar {
        background-color: $tertiary-background;
        color: $primary-color;
        border-bottom: solid 1px #000;
        height: auto;
    }

    &_iframe {
        height: 75vh;
        background-color: $secondary-background;
        padding: 10px;

        iframe {
            border: none;
            height: inherit;
            width: 100%;
        }
    }
}

.link-view-toolbar {
    padding: 10px 0;

    &_name {
        color: $purple;
        font-size: 30px;
        display: block;
    }

    &_url {
        font-size: 15px;
    }
}

.no-link-view {
    background-color: $secondary-background;
    height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px $tertiary-background;
    
    &_title {
        margin-top: 0;
        display: block;
    }

    &_add {
        background-color: $purple;
        font-weight: bold;
    
        .mat-icon { color: #000; }
    }
}