@import 'variables';

#login {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: $charlie-background;

    .mat-card-content .mat-form-field,
    .mat-card-actions button {
        width: 75%;
    }

    .login-btn:enabled {
        background-color: $purple !important;
    }

    .google-btn {
        margin-top: 20px;
        padding: .3rem;
        width: 50%;
        .mat-icon {
            width: 40px;
            height:30px;
        }
    }

    .mat-card-footer button {
        width: 100%;
        color: $alpha-color;
    }
}