@import 'variables';

.mat-icon { color: $purple !important; }

.mat-slide-toggle {
    &-thumb { background-color: $purple !important; }
    &.mat-checked .mat-slide-toggle-bar { background-color: #bd93f9b0; }
}

.mat-card-header {
    margin-bottom: 20px;
    &-text {
        width: 100%;
        color: $alpha-color;
    }
}

.mat-form-field {
    color: $alpha-color;

    &-label,
    &-outline { color: $alpha-color !important; }

    &-hint-wrapper .mat-hint,
    &-required-marker { color: $purple !important; }

    &-invalid .mat-input-element { caret-color: $purple !important; }

    .mat-error { color: $invalid; }
}

.mat-checkbox {
    &-indeterminate.mat-accent &-background,
    &-checked.mat-accent &-background {
        background-color: $purple;
    }

    &-checked, &:active {
        &:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element { background: $purple; }
    }
}

.mat-menu {
    &-panel {
        background-color: $charlie-background;
        .mat-icon { font-size: $large-font; }
    }

    &-item { color: $alpha-color; }
}

.dialog-backdrop { background-color: #0000008e; }