// FONTS ====================
$extra-small-font: 14px;
$small-font: 16px;
$medium-font: 18px;
$large-font: 20px;
$extra-large-font: 22px;
// ===========================

// COLORS ====================
$primary-background: #282a36;
$secondary-background: #313231;
$tertiary-background: #494949;
$primary-color: #f2f2f2;
$secondary-color: #888;
$purple: #bd93f9;
// ===========================