// FONTS ====================
$extra-small-font: 14px;
$small-font: 16px;
$medium-font: 18px;
$large-font: 20px;
$extra-large-font: 22px;
// ===========================

// COLORS ====================
$alpha-background: #282a36;
$beta-background: #313231;
$charlie-background: #494949;
$delta-background: #646464;
$alpha-color: #f2f2f2;
$beta-color: #888;
$purple: #bd93f9;
// ===========================