@import 'variables';

.user-header {
    padding: 10px;
    
    &_img { border-radius: 50%; }

    &_upload {
        display: block;
        margin-bottom: 20px;
        background-color: $purple;
    }

    &_displayName { margin-bottom: 0; }

    &_email { font-size: $extra-small-font; }
}