<div class="user-header">
    <ng-container *ngIf="(uid$ | async); else showLoginSignup">
        <ng-container *ngIf="photoUrl$ | async; else noPhotoUrl">
            <img
                class="user-header_img"
                src="{{photoUrl$ | async}}"
                alt="Profile Pic"
                width="50"
                height="50">
        </ng-container>
        <ng-template #noPhotoUrl>
            <button
                class="user-header_upload"
                mat-raised-button
                (click)='uploadProfileImage()'>
                Add Profile Image 
                <mat-icon>add_photo_alternate</mat-icon>
            </button>
        </ng-template>
        <h4 class="user-header_displayName">{{displayName$ | async}}</h4>
        <span class="user-header_email">{{email$ | async}}</span>
    </ng-container>
    <ng-template #showLoginSignup>
        <div
            fxLayout='column'
            fxLayoutGap='15px'
            class="user-header_auth">
            <div
                fxFill
                fxLayoutAlign='center'>
                <button
                    mat-raised-button
                    fxFlex='90'
                    class="user-header_auth-login"
                    (click)="routeToAuth('login')">
                    <mat-icon>lock</mat-icon>
                    Login
                </button>
            </div>
            <div
                fxFill
                fxLayoutAlign='center'>
                <button
                    mat-raised-button
                    fxFlex='90'
                    class="user-header_auth-signup"
                    (click)="routeToAuth('signup')">
                    <mat-icon>person</mat-icon>
                    Register
                </button>
            </div>
        </div>
    </ng-template>
</div>