@import 'variables';

.user-header {
    padding: 10px;
    
    &_img { border-radius: 50%; }

    &_upload {
        display: block;
        margin-bottom: 20px;
        background-color: $purple;

        .mat-icon {
            color: $black !important;
            font-size: $extra-large-font;
        }
    }

    &_displayName { margin-bottom: 0; }

    &_email { font-size: $extra-small-font; }

    &_auth {
        padding-top: 10px;

        .mat-icon { font-size: $large-font; }

        &-login {
            background-color: inherit;
            color: $alpha-color;
            border: solid 1px $purple;
        }

        &-signup {
            background-color: $purple;
            color: $black;
            
            .mat-icon { color: $black !important; }
        }
    }
}