<div class="user-header">
    <ng-container *ngIf="photoUrl$ | async; else noPhotoUrl">
        <img
            class="user-header_img"
            src="{{photoUrl$ | async}}"
            alt="Profile Pic"
            width="50"
            height="50">
    </ng-container>
    <ng-template #noPhotoUrl>
        <button
            class="user-header_upload"
            mat-raised-button
            (click)='uploadProfileImage()'>
            Add Profile Image 
            <mat-icon>add_photo_alternate</mat-icon>
        </button>
    </ng-template>
    <h4 class="user-header_displayName">{{displayName$ | async}}</h4>
    <span class="user-header_email">{{email$ | async}}</span>
</div>