<div class="links-configuration">
    <form [formGroup]='linksConfigForm'>
        <mat-slide-toggle
            class="links-configuration_newtab"
            formControlName='newTab'>
            Always open links in new tab
        </mat-slide-toggle>
        <section
            class="links-configuration_hide"
            formGroupName="hidden">
            <span class="links-configuration_hide-label">Hide Sections:</span>
            <mat-checkbox formControlName="clientSide">Client-Side</mat-checkbox>
            <mat-checkbox formControlName="serverSide">Server-Side</mat-checkbox>
            <mat-checkbox formControlName="misc">Misc</mat-checkbox>
        </section>
    </form>
</div>