@import 'variables';

.links-configuration {
    font-size: $small-font;
    :not(:last-child) { margin-bottom: 20px; }

    &_newtab { display: block; }

    &_hide {
        &-label { margin-right: 20px; }
        .mat-checkbox {
            &:not(:last-child) { margin-right: 30px; }
            ::ng-deep &-label { font-size: $extra-small-font; }
        }
    }
}