@import 'variables';

.links-toolbar {
    background-color: $charlie-background;
    overflow-x: auto;

    &_title {
        color: $alpha-color;
        padding-left: 10px;
        font-size: $extra-large-font;
    }

    .mat-divider {
        height: 70%;
        margin: 0 20px;
    }
}