<mat-toolbar class="primary-toolbar">
  <button
    class="primary-toolbar_menu"
    mat-mini-fab
    (click)='sidenav.toggle()'>
    <mat-icon>menu</mat-icon>
  </button>
  <h1
    class="primary-toolbar_title"
    routerLink='home'>
    Web Dev Utils
  </h1>
  <span fxFlex></span>
  <button
    *ngIf="uid$ | async"
    mat-icon-button
    matTooltip='Logout'
    (click)='logout()'>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="primary-sidenav">
    <mat-sidenav
      #sidenav
      class="primary-sidenav_navigation"
      [mode]='showSidenav ? "side" : "over"'
      [opened]='showSidenav'>
      <nav>
        <ng-container *ngIf="showUserHeader; else isLoadingUserHeader">
          <user-header></user-header>
          <mat-divider></mat-divider>
        </ng-container>
        <ng-template #isLoadingUserHeader>
          <loading
            top='20'
            bottom='10'
            [diameter]='30'>
          </loading>
        </ng-template>
        <a
          mat-button
          class="mat-route"
          *ngFor="let route of routes"
          [routerLink]='route.path'
          [ngStyle]="{'display': ((route.auth && (uid$ | async)) || !route.auth) ? 'flex' : 'none'}"
          (click)="!showSidenav ? sidenav.toggle() : ''">
          <mat-icon>{{route.icon}}</mat-icon>
          {{route.label}}
        </a>
    </nav>
  </mat-sidenav>
  <div
    class="primary-sidenav_router-outlet"
    [ngStyle.lt-sm]="{'padding': '10px 15px'}">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>