@import 'variables';

#title { cursor: pointer; }
#title:focus { outline:none; }

#mat-sidenav-container {
    height: 100%;
    padding-top: 20px;
    .mat-sidenav {
        min-width: 150px;
        .mat-route {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: $large-font
        }   
    }
    .mat-divider {
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 0.8px #000;
    }
    #router-outlet-container { padding: 10px 30px; }
}