<div class="json-pretty-tree">
  <ng-container *ngIf="dataSource; else buildingNodes">
    <cdk-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl">
      <cdk-nested-tree-node
        *cdkTreeNodeDef="let node"
        class="json-pretty-tree_node">
        <button
          mat-icon-button
          disabled>
        </button>
        <span class="cdk-tree_key">{{node.name}}</span>:
        <em class="cdk-tree_value">{{node.value}}</em>
      </cdk-nested-tree-node>
      <cdk-nested-tree-node
        *cdkTreeNodeDef="let node; when: hasChild"
        class="json-pretty-tree_node">
        <button
          mat-icon-button
          [attr.aria-label]="'toggle ' + node.name"
          cdkTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <span class="cdk-tree_root">{{node.name}}</span>
        <div [class.json-pretty-tree_invisible]="!treeControl.isExpanded(node)">
          <ng-container cdkTreeNodeOutlet></ng-container>
        </div>
      </cdk-nested-tree-node>
    </cdk-tree>
  </ng-container>
  <ng-template #buildingNodes>
    <loading></loading>
  </ng-template>
</div>