@import 'variables';

.links-page {
    &_column {
        height: 80vh;
        background-color: $beta-background;

        ::ng-deep &-actions {
            padding: 0 3px 0 0 !important;
            text-align: end;
            
            .mat-icon {
                font-size: $large-font;
                color: $beta-color;
            }
        }
    }

    &_toolbar { margin-bottom: 10px; }

    ::ng-deep {
        .mat {
            &-table {
                width: 100%;
                background: none;
            }

            &-row {
                cursor: pointer;

                &:hover {
                    background: $charlie-background;
                    box-shadow: $z8-elevation;
    
                    .mat-cell { color: $purple; }
                }
            }

            &-column {
                &-name {
                    color: $alpha-color;
                    padding-right: 15px;
                }
    
                &-url {
                    color: $beta-color;
                    font-size: $smallest-font;
                }
            }
        }
    }
}