<div
    class="home-container"
    fxLayout='row'
    fxLayoutGap='20px'
    fxLayout.xs='column'
    fxLayout.sm='column'
    fxLayout.md='column'>
    <div fxFlex='50'>
        <h1 class="home-container_slogan">One-Stop-Shop For Your Web Development Utilities</h1>
        <p class="home-container_description">
            Tired of inefficiently performing those mundane tasks each day as a Web Developer?
            Well, here at Web Dev Utils, we provide assistance in that process by maximizing
            efficiency through increased functionality and greater organization of those tasks.
            All made possible through a single user portal.
        </p>
    </div>
    <div fxFlex='50'>
        <img
            src="assets/images/banner.png"
            class="home-container_image">
    </div>
</div>