<mat-card id="signup" (keyup.enter)='sendEmailVerification()'>
    <mat-card-header>
        <mat-card-title>Web Dev Utils Signup</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]='signupForm' appPasswordMatchValidator>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Display Name</mat-label>
                <input matInput formControlName="displayName">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    formControlName="password"
                    [type]="passwordHidden ? 'password' : 'text'">
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="passwordHidden = !passwordHidden"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="passwordHidden">
                        <mat-icon>{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Repeat Password</mat-label>
                <input
                    matInput
                    formControlName="passwordRepeat"
                    [type]="passwordHidden ? 'password' : 'text'">
            </mat-form-field>
        </form>
        <mat-error>{{signupForm.errors?.passwordMismatch.value}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button
            class="send-email-verification-btn"
            mat-raised-button
            [disabled]='signupForm.invalid'
            (click)='sendEmailVerification()'>
            Send Email Verification
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <button mat-button routerLink="../login">
            Already have an account
            <mat-icon>arrow_right_alt</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>