@import 'variables';

#signup {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: $tertiary-background;

    .mat-card-content .mat-form-field,
    .mat-card-actions button {
        width: 75%;
    }

    .send-email-verification-btn:enabled {
        background-color: $purple !important;
    }

    .mat-card-footer button {
        width: 100%;
        color: $primary-color;
    }
}