@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'material';

html { height: 100%; }

body {
    height: 100%;
    margin: 0;
    font-size: $medium-font;
    font-family: 'Manjari', sans-serif;
}