@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'material-base';
@import 'material-cdk';
@import 'webkit';
@import 'svg';

html { height: 100%; }

body {
    height: inherit;
    margin: 0;
    font-size: $medium-font;
    font-family: 'Manjari', sans-serif;
}