@import 'variables';

@mixin handle-type($type) {
    @if $type == 'general' {
        background-color: $charlie-background;
        .mat-icon {
            &_type { display: none; }
            &_close { color: $purple; }
        }
    }
    @else if $type == 'confirmation' {
        background-color: $charlie-background;
        .mat-icon {
            &_type:before { content: '\E887'; }
            &_close { color: $purple; }
        }
    }
    @else if $type == 'warning' {
        background-color: $warning;
        color: $black;
        .mat-icon {
            &_type:before {
                content: '\E002';
                color: $black;
            }
            &_close { color: $black !important; }
        }
    }
    @else if $type == 'error' {
        background-color: $invalid;
        .mat-icon {
            &_type:before {
                content: '\E000';
                color: $alpha-color;
            }
            &_close { color: $alpha-color !important; }
        }
    }
}

.general { @include handle-type('general'); }
.confirmation { @include handle-type('confirmation'); }
.warning { @include handle-type('warning'); }
.error { @include handle-type('error'); }

::ng-deep {
    .mat-dialog-container {
        padding: 0;
        overflow-x: hidden;
        background: none;
        max-height: 50vh;
    }

    .mat-dialog-title {
        padding: 10px;
        margin-bottom: 0;
        font-weight: bold;
        color: $alpha-color;
        border-bottom: solid 1px $black;

        .mat-icon {
            &_close {
                float: right;
                transform: translateY(4px);
                cursor: pointer;
            }

            &_type {
                vertical-align: middle;
                transform: translateY(-2px);
            }
        }
    }

    .mat-dialog-content {
        padding: 20px 50px;
        background-color: $beta-background;
        color: $alpha-color;
    }

    .mat-dialog-actions {
        padding: 0 10px;
        justify-content: flex-end;
        background-color: $charlie-background;
        border-top: solid 1px $black;
        margin-bottom: 0;

        &_button1 {
            background-color: $delta-background;
            font-weight: bold;
        }

        &_button2 {
            background-color: $purple;
            font-weight: bold;
        }
    }
}