<mat-toolbar
    class="links-header">
    {{header}}
    <span fxFlex></span>
    <button
        *ngIf="isEditing"
        mat-icon-button
        (click)='cancelEditing()'>
    <mat-icon>cancel</mat-icon>
    </button>
    <button
        mat-icon-button
        [matMenuTriggerFor]="additionalActions">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #additionalActions="matMenu">
        <button
            *ngIf="!isEditing"
            mat-menu-item
            (click)='editLinks()'>
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button
            mat-menu-item
            (click)='addLink()'>
            <mat-icon>add</mat-icon>
            Add
        </button>
    </mat-menu>
</mat-toolbar>