<mat-toolbar
    class="links-header">
    {{header}}
    <span fxFlex></span>
    <button
        *ngIf="!isEditing"
        mat-icon-button
        (click)='editLinks()'>
    <mat-icon class="links-header_edit">edit</mat-icon>
    </button>
    <button
        *ngIf="isEditing"
        mat-icon-button
        (click)='cancelEditing()'>
    <mat-icon>cancel</mat-icon>
    </button>
    <button
        mat-icon-button
        (click)='addLink()'>
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>